<html>
<head><title>Member Documents</title>{% include "_legacy.css.html" %}</head>
<body>
<div class="bar">MockCore Member Services 1.0</div>
<div class="pane">
<h3>Member Documents</h3>
<table class="frm">
<tr><td>Member ID</td><td>{{ member.member_id }}</td></tr>
<tr><td>Name</td><td>{{ member.name }}</td></tr>
</table>
{% if message %}<p class="err">{{ message }}</p>{% endif %}
<form method="post" action="/member/{{ member.member_id }}/documents" enctype="multipart/form-data">
<table class="frm">
<tr><td>Document</td><td><input type="file" name="F_DOC"></td></tr>
<tr><td></td><td><input type="submit" value="Upload"></td></tr>
</table>
</form>
<br>
<table class="frm">
<tr><td><a href="/member/{{ member.member_id }}">Back to Member Detail</a></td></tr>
</table>
</div>
</body>
</html>
