<html>
<head><title>Navigation</title>{% include "_legacy.css.html" %}</head>
<body>
<div class="bar">Functions</div>
<div class="pane">
<table class="frm">
<tr><td><a href="javascript:parent.main.location='/search'">Member Search</a></td></tr>
<tr><td><a href="javascript:parent.main.location='/search'">Account Inquiry</a></td></tr>
<tr><td><a href="javascript:void(0)">Reports</a></td></tr>
<tr><td><a href="/logoff" target="_top">Sign Off</a></td></tr>
</table>
{% if ambiguous %}
<hr>
<form method="post" action="/search" target="main">
<table class="frm">
<tr><td><input type="text" name="F_MBRID" size="8" maxlength="5"></td></tr>
<tr><td><input type="submit" value="Search"></td></tr>
</table>
</form>
{% endif %}
</div>
</body>
</html>
